<mat-list role="list">
    <a href="/dashboard">
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>dashboard</mat-icon>
            <h3 matListItemTitle>Dashboard</h3>
        </mat-list-item>
    </a>
    <a href="/collaborate">
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>rebase_edit</mat-icon>
            <h3 matListItemTitle>Collaborate</h3>
            <p matListItemLine>Work together on the same space</p>
        </mat-list-item>
    </a>
    <a href="/about">
        <mat-list-item role="listitem">
            <mat-icon matListItemIcon>info</mat-icon>
            <h3 matListItemTitle>About</h3>
        </mat-list-item>
    </a>
</mat-list>